@keyframes snowflake-fall {
  to {
    transform: translateY(100vh);
  }
}

@keyframes snowflake-float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(50vh) rotate(180deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
  animation: snowflake-fall linear infinite, snowflake-float ease-in-out infinite;
}

.snowflake:nth-of-type(odd) {
  left: calc(100% * var(--random-left));
  animation-duration: calc(10s + (var(--random-duration) * 10s));
}

.snowflake:nth-of-type(even) {
  left: calc(100% * var(--random-left));
  animation-duration: calc(15s + (var(--random-duration) * 15s));
}
